<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/team/headshot.jpg" class="img-responsive img-circle" alt="">
                    <br />
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li>
                            <a href="{{ network.url }}" target="_blank"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-sm-8">
                <p class="large">
                  I am a full stack software developer with experience in Java, Spring, Google Web Toolkit,
                  and MySQL in Agile and Kanban environments using object-oriented principles and
                  coding best practices with a background in Ruby on Rails, and I have built several
                  applications with Rails, Node, AngularJS, and Bootstrap which are viewable below.
                  My passion is creating software that brings people and information together in innovative ways.
                  I love working in teams that take software from concept to fully functioning product.
                </p>
                <br />
                <p class="large">
                  I'm versed in test-driven development, behavior driven development,
                  AWS, database design, continuous integration, API development, and Git version control as well
                  as a host of workflow tools, responsive user interface design, object oriented programming.
                  Scrum.org Certified PSM I Scrum Master.
                </p>
                <br />
                <h4>Specialties:</h4>
                <h3 class="section-subheading text-muted specialties">
                    Java, Spring, GWT, SQL, Ruby, Rails, AngularJS, jQuery,
                    JavaScript, Python, Bootstrap
                </h3>
            </div>
        </div>
    </div>
</section>
