<section id="contact">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                </div>
                <div class="col-lg-4">
                    <h2 class="section-heading text-center">Contact</h2>
                    <form action="https://getsimpleform.com/messages?form_api_token=22040dbf33dc9e663f45dcd8fa7f56f3" method="post">
                      <input type='hidden' name='redirect_to' value='{{ site.url }}' />
                        <div class="row">
                            <div class="control-group form-group">
                                <input type='text' class="form-control" name='name' placeholder='Your Name *' required data-validation-required-message="Please enter your name." />
                            </div>
                            <div class="control-group form-group">
                                <input type='email' class="form-control" name='email' placeholder='Your E-mail *' required data-validation-required-message="Please enter your email address." />
                            </div>
                            <div class="control-group form-group">
                                <textarea name='message' class="form-control" placeholder='Your message *' required data-validation-required-message="Please enter a message."></textarea>
                            </div>
                            <div class="control-group form-group text-center">
                                <input type='submit' class="btn btn-xl" value='Send Message' />
                            </div>
                        </div>
                    </form>

                    <footer>
                        <ul class="list-inline social-buttons">
                            {% for network in site.social %}
                            <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                            </li>
                            {% endfor %}
                        </ul>
                    </footer>

                    <p class="text-center">{{ site.footer_text }}</p>

                </div>
            </div>
        </div>
    </div>
</section>
